/*Importancia de tipografia */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,100&display=swap');
/*selector universal*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* selector por etiqueta */
span {
    color: orangered;
}
/* selector por id */
#option_one, #option_three{
    font-weight: 900;
    background-color: aquamarine;
    margin-left: 20px;
}
/* selector por clase */
.option_group{
     background-color: #000; /*000000 */
}
.option_group.other_option{
    font-size: 50px;
}
/* selector por atributo */
[disabled]{
    background-color: red;
}
/*selector por id*/
#tittle_box{
    color: #0000ff;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: lowercase;
    margin: 10px 20px 15px 25px;
    border: 1px dotted #000;
    border-radius: 10px;
    padding-bottom: 50px;
    word-spacing: 15px;
    letter-spacing: 8px;
    font-size: 50px;
    box-shadow: 0px 0px 10px 2px #0000ff;
    box-shadow: 10px 10px 5px 0px rgba(230,145,230,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(230,145,230,1);
     box-shadow: 10px 10px 5px 0px rgba(230,145,230,1);
}
#box_father{
    background-color: #000;
    width: 50%;
    height: 200px;
    background-image: url(https://www.elespectador.com/resizer/lZcP_cqKxjBwScJGInZnNF6Oghc=/arc-anglerfish-arc2-prod-elespectador/public/SQT6VSTKY5ALBBK4QFI22JCWNY.jpg);
    background-position: center;
    background-size: cover;
}
/*#box_model{
    background-color: orange;
    width: 50%;
    height: 50%;
}*/

/*aplicacion de media queris*/
@media (min-width: 800px) and (max-width: 1200px){
    body{
        background-color: red;
    }
    #tittle_box{
        text-align: left;
    }
}

@media (max-width: 799px){
    body{
        background-image: url(https://www.elespectador.com/resizer/lZcP_cqKxjBwScJGInZnNF6Oghc=/arc-anglerfish-arc2-prod-elespectador/public/SQT6VSTKY5ALBBK4QFI22JCWNY.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
